
#home {
    min-height: 100vh;
    background-color: var(--Color-2);
    display: flex;
    justify-content: center;
    align-items: center;

    > * {
        box-sizing: border-box;
    }
}

aside {
    width: 20px;
    height: 100%;
    background: white;
}

.row {
    margin: 0 150px;
    display: flex;

    > .column:nth-child(2) {
    min-height: 512px;
    max-width: 50%;
    flex-grow: 1;
    padding: 0 50px;
    margin: 0 20px;
    background-color: var(--Color-1);
    }
}

.column {
    min-height: 512px;
    max-width: 50%;
    flex-grow: 1;
}

.badges-cnt {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(80px, 120px);
    justify-items: center;
    align-items: center;
}

.badges-img {
    width: 80px;
    max-width: 120px;
    filter: grayscale(0.5);
    transition: width 0.5s, filter 0.5s;
}

.badges-img:hover {
    width: 120px;
    filter: grayscale(0);
}