#root {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0px auto;
  display: grid;
}

.section-break {
  margin-top: 100px;
}

/* HEADER*/
.header {
  margin-top: 30px;
  display: flex;
  & > .left, > .right {
    width: 50%;
  }
  & > .left {

  }
  & > .right {
    text-align: right;
  }
}

.header .name {
  font-weight: 700;
}

.header .socal-badge {
  width: 40px;
}

/* HERO */
.hero {
  height: 300px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.hero > span {
  display: block;
  font-size: 40px;
  margin-bottom: 5px;
}

/* ABOUT */
.about {
  font-size: 30px;
}

/* SKILLS */
.skills {
  display: flex;
  position: relative;
}

.left-shadow, .right-shadow {
  width: 100px;
  height: 100%;
  filter: blur(5px);
  position: absolute;
  top: 0;
  z-index: 1;
}

.left-shadow {
  background: linear-gradient(to left, #ffffff, #ffffff);
  left: -20px;
}

.right-shadow {
  background: linear-gradient(to right, #ffffff, #ffffff);
  right: -20px;
}

.carousel {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0;
  overflow: hidden;
  display: flex;
  &:hover .badge-group {
    animation-play-state: paused;
    & .badge:hover {
      filter: grayscale(0);
    }
  }
}

.badge-group .badge {
  width: 100px;
  color: white;
  margin: 20px;
  filter: grayscale(1);
}

.badge-group {
  display: flex;
  animation: horizontal-scrolling 10s linear infinite;
  
}

@keyframes horizontal-scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}