:root {
    --Color-1: #96E6B3;
    --Color-2: #CCFCCB;
    --Color-3: #F1FFFA;
    --Color-4: #1F1F1F;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

body {
    min-height: 100vh;
}